/* FUENTE (GOOGLE) */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* -------------VARIABLES-------------- */
:root {
    --header-height: 3.5rem;
  
    --hue: 217;
    /* first-color: #156df9 */
    --first-color: hsl(var(--hue), 95% , 53%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);
  
    /* FUENTE Y TAMAÑOS */
    --body-font: "Varela Round", serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /* FONT WEIGHT */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* Z INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/* ------------RESET-------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

input,
textarea,
button {
    /* QUITO BORDES DE INPUTS Y BOTONES */
    outline: none;
    border: none;
}

body,
button,
textarea,
input {
    /* FUENTE Y TAMAÑO */
    font-family: var(--body-font);   /*Poppins*/
    font-size: var(--normal-font-size);
}

body{
    /* COLORES */
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    /* ESTILOS HEADINGS */
    color: var(--title-color);
    font-weight: var(--font-medium)
}
/* COLOR DE TAG B */
b {
    color: var(--first-color);
}

/*  -------------CLASES REUTILIZABLES------------ */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
    position: relative;
}

.section-title,
.section-subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section-title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section-subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section-subtitle span {
    color: var(--first-color);
}

.main {
    overflow: hidden;   /*Para animacion ScrollReveal*/
}

/* Divisor Wave Container */
.divider-bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider-bottom-container svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 19px;
}

.divider-bottom-container .shape-fill {
    fill: #21232c;
}

/* Divisor Wave Body */

.divider-bottom-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider-bottom-body svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 29px;
}

.divider-bottom-body .shape-fill {
    fill: #2b2e3b;
}

/* ----------------- HEADER Y NAVBAR---------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo span {
    color: var(--first-color);
}

.nav-toggle,
.nav-close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* ----------------- NAVBAR RESPONSIVE BREAKPOINTS---------------------- */
@media screen and (max-width:1023px) {
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /*Para Safari*/
        transition: right .4s;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav-link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Mostrar Menu del Navbar (Con JS) */
.show-menu {
    right: 0;
}

/* Blur del navbar al hacer scroll */
.blur-header {
    background-color: transparent;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 10%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /*Para safari*/
    top: 0;
    left: 0;
    z-index: -1;
}

/* Link activo (JS) */
.active-link {
    color: var(--first-color);
}

/* -------------------HOME-------------------- */
.home {
    background-color: var(--container-color);
}

.home-container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.home-content {
    display: grid;
    row-gap: 2rem;
}

.home-data {
    text-align: center;
}

.home-subtitle,
.home-education {
    font-size: var(--bigger-font-size);
}

.home-education {
    display: flex;
    justify-content: center;
}

.home-subtitle span,
.home-title {
    color: var(--first-color);
}

.home-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}

.home-description {
    margin-block: 1rem 1.5rem;
}
/* HOME SOCIAL */
.home-social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.home-social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 2rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transition: all .4s;
}

.home-social-link:hover {
    transform: translateY(-.25rem);
    background-color: var(--title-color);
    color: var(--first-color-alt);
}
/* Button Contacto */
.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    margin: 0.4rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: all .4s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
    transform: scale(103%);
}

/* IMAGEN HOME  */
.home-image {
    justify-self: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%23156DF9"><path d="M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* Foto usando como mask la forma svg */
.home-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/meperfil4f.png') center/contain no-repeat;
    background-position: 42%;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%23156DF9"><path d="M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z"></path></svg>');
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%23156DF9"><path d="M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z"></path></svg>');
}

.home-blob {
    width: 320px;
    transition: fill 2s;
}

.home-image:hover .home-blob {
    fill: var(--first-color-alt);
}

/* ------------------SOBRE MI--------------- */
.about-container {
    row-gap: 2.5rem;
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: 2rem;
}

.about-image {
    justify-self: center;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path fill="currentColor" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></clipPath></defs><g clip-path="url(%23a)"><path fill="%23156df9" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}
/* Foto usando como mask la forma svg */
.about-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/meperfil1f.png') center/contain no-repeat;
    background-position: 60%;
    -webkit-mask: url('data:image/svg+xml,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path fill="currentColor" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></clipPath></defs><g clip-path="url(%23a)"><path fill="%23156df9" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></g></svg>');
    mask: url('data:image/svg+xml,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path fill="currentColor" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></clipPath></defs><g clip-path="url(%23a)"><path fill="%23156df9" d="M902 631q-42 131-162.5 183t-241 57Q378 876 245 829T114 641q2-141 45-249.5t116-234Q348 32 494 50.5T752 152q112 83 152 215.5T902 631Z"/></g></svg>');
}

.about-blob {
    width: 320px;
}

.about-image:hover .about-blob > g > path {
    fill: var(--first-color-alt);
}

.about-blob > g > path {
    transition: fill 2s;
}

/* ---------------Stack---------------- */
.skills {
    background-color: var(--container-color);
}

.skills-container {
    padding-bottom: 2rem;
    row-gap: 3.5rem;
}

.skills-data {
    text-align: center;
}

.skills-description {
    margin-bottom: 2rem;
}

.skills-content,
.skills-group {
    display: grid;
}

.skills-content {
    grid-template-columns: repeat(2, max-content);
    column-gap: 5rem;
    justify-content: center;
    align-items: baseline;
    background-color: var(--body-color);
    border-radius: 20%;
    padding-block: 2rem;
}

.skills-group {
    row-gap: 1rem;
    justify-self: center;
    flex-wrap: wrap;
}

.skills-item img, .skills-item p {
    animation: levitate 2s ease-in-out infinite;
}


.tooltip-container {
    position: relative;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/* -------------Servicios------------- */
.services-container {
    row-gap: 2rem;
    padding-block: 1rem;
}

.services-card {
    text-align: center;
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--container-color);
    transition: border .4s;
}

.services-card:hover {
    border: 2px solid var(--first-color);
}

.services-icon {
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: .75rem;
}

.services-title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

/* ----------------Proyectos--------------- */
.projects {
    background-color: var(--container-color);
}

.projects-container {
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.projects-card {
    background-color: var(--body-color);
    border-radius: 1rem;
    border: 1px solid var(--body-color);
    transition: border .4s;
}

.projects-card:hover {
    border: 1px solid var(--first-color);
}

.projects-intro {
    background-color: var(--body-color);
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.projects-intro-responsive {
    display: none;
}

.projects-description {
    background-color: var(--body-color);
    padding: 1rem;
    padding-top: 0;
    border-radius: 0 0 1rem 1rem;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .4s;
}

/* Muestro el projects-description (JS) */
.show {
    visibility: visible;
    max-height: 1000px;
}

.stack-group {
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.stack-item {
    width: 60px;
}

.stack-item img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.stack-item img:hover {
    transform: rotate(5deg);
}

.projects-div-img {
    position: relative;
    overflow: hidden;
}

.projects-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.projects-subtitle,
.projects-button {
    color: var(--title-color);
    font-size: var(--small-font-size)
}

.projects-subtitle {
    display: block;
    margin-bottom: .25rem;
}

.team-member {
    color: aquamarine;
    transition: color 0.4s ease-in-out;
}

.team-member:hover {
    color: var(--first-color)
}

.projects-title {
    font-size: var(--h2-font-size);
    margin-bottom: 0rem;
}

.div-button {
    display: flex;
    column-gap: 3rem;
}

.div-button i {
    font-size: var(--bigger-font-size);
}

.projects-collapse {
    display: flex;
    align-items: flex-end;
}

.projects-button {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
    margin-top: 1rem;
    cursor: pointer;
    transition: color .4s;
}

.projects-button-icon {
    font-size: 1.25rem;
    cursor: pointer;
    transition: color .4s;
    align-self: flex-end;
}

.projects-button:hover, 
.projects-button:hover + .projects-button-icon,
.projects-button-icon:hover + .projects-button {
    color: var(--first-color);
}

/* -------------------CONTACTO---------------- */
.contact-container {
    padding-top: 1rem;
}

.contact-form,
.contact-group {
    display: grid;
    row-gap: 1rem;
}

.contact-form {
    position: relative;
}

.contact-input {
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}

.contact-input::placeholder {
    color: var(--text-color);
}

.contact-form textarea {
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact-button {
    justify-self: center;
    cursor: pointer;
}

.contact-message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

/* ----------------FOOTER--------------- */
.footer {
    background-color: var(--container-color);
    padding-block: 2rem;
}

.footer-container {
    row-gap: 2rem;
    text-align: center;
}

.footer-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.footer-title span {
    color: var(--first-color);
}

.footer-education {
    font-size: var(--normal-font-size);
}

.footer-social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer-social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 2rem;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transition: all .4s;
}

.footer-social-link:hover {
    transform: translateY(-.25rem);
    background-color: var(--title-color);
    color: var(--first-color-alt);
}

.footer-copy {
   font-size: var(--font-medium);
   margin-top: 2rem; 
}

/* ---------------BARRA DE SCROLL-------------- */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 35%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 45%);
}

/* -----------------Flecha Scroll Arriba-------------- */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    padding: 6px;
    display: inline-flex;
    border-radius: .25rem;
    color: var(--first-color);
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Mostrar scroll (JS) */
.show-scroll {
    bottom: 3rem;
}

/* ---------------------Responsive breakpoints-------------------- */
/* Pantallas chicas */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .skills-content {
        grid-template-columns: max-content;
        row-gap: 1rem;
    }

    .services-card {
        padding-block: 1.5rem;
    }
}

/* Pantallas medianas */
@media screen and (min-width: 576px) {
    .home-container,
    .about-container,
    .skills-container,
    .services-container,
    .projects-container,
    .contact-container {
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .nav-menu {
        width: 55%;
    }

    .home-container,
    .about-container,
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home-data,
    .about-data,
    .skills-data,
    :is(.about-data, .skills-data) :is(.section-subtitle, .section-title) {
        text-align: initial;
    }

    .home-social {
        justify-content: initial;
    }

    .home-blob,
    .about-blob {
        width: 400px;
    }

    .about-data {
        order: 1;
    }

    .services-container,
    .projects-container {
        /* 353px */
        grid-template-columns: repeat(1, 500px);
    }

    .home-education {
        display: flex;
        justify-content: start;
    }
}
/* Pantallas grandes */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem 2rem;
    }

    #home {
        padding-block: 2rem 2rem;
    }

    .section-subtitle {
        font-size: var(--normal-font-size);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav-close,
    .nav-toggle {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav-menu {
        width: initial;
    }

    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px); /*Para Safari*/
    }

    .skills-content {
        row-gap: 3rem;
        grid-template-columns: repeat(1, max-content);
    }

    .skills-group {
        row-gap: 1.5rem;
        display: flex;
    }

    .projects-container {
        /* 353px */
        grid-template-columns: repeat(1, 950px);
    }

    .projects-card {
        display: flex;
    }

    .projects-card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .projects-div-img {
        /* Tener en cuenta el width del projects-description */
        width: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
    }

    .projects-card:nth-child(even) .projects-div-img {
        padding-right: 1rem;
    }

    .projects-img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 1rem;
    }
    

    .projects-intro {
        display: none;
    }

    .projects-intro-responsive {
        display: block;
        padding-top: 1.5rem;
    }

    .projects-description {
        visibility: visible;
        max-height: 1000px;
        /* Tener en cuenta el width del projects-div-img */
        width: 140%;
        border-radius: 1rem;
    }

    .projects-collapse {
        display: none;
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }

    .home-container {
        grid-template-columns: 455px 550px;
        column-gap: 7rem;
        padding-block: 2rem 3rem;
    }

    .home-blob {
        width: 520px;
    }

    .home-content {
        row-gap: 4.5rem;
    }

    .home-description {
        margin-block: 1.5rem 2.5rem;
    }

    .home-social {
        column-gap: 1.5rem;
    }

    .about-container {
        grid-template-columns: 550px 460px;
        column-gap: 4.5rem;
        padding-bottom: 1rem;
    }

    .about-blob {
        width: 560px;
    }

    .about-description {
        margin-bottom: 3rem;
    }

    .skills-container {
        grid-template-columns: 340px 425px;
        column-gap: 10rem;
        padding-bottom: 4rem;
    }

    .skills-description {
        margin-bottom: 3rem;
    }

    .skills-content {
        row-gap: 3rem;
        grid-template-columns: repeat(1, max-content);
        width: 110%;
    }

    .skills-group {
        row-gap: 1.5rem;
        display: flex;
    }

    .skills-item {
        font-size: var(--h3-font-size);
    }

    .services-container {
        grid-template-columns: repeat(3, 352px);
        padding-block: 2.5rem 4rem;
    }

    .services-card {
        padding: 3.5rem 2rem;
    }

    .projects-container {
        grid-template-columns: repeat(1, 1000px);
    }

    .projects-button {
        font-size: var(--normal-font-size);
    }

    .contact-container {
        grid-template-columns: 680px;
        padding-block: 2.5rem 2rem;
    }

    .contact-form {
        row-gap: 1.5rem;
    }

    .contact-group {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

    .contact-input {
        padding: 1.5rem;
    }

    .contact-form textarea {
        height: 20rem;
    }

    .footer {
        padding-block: 4.5rem 4rem;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: initial;
    }

    .footer-title {
        font-size: var(--bigger-font-size);
    }

    .footer-social {
        column-gap: 1.5rem;
    }

    .footer-copy {
        margin: 0;
        justify-self: flex-end;
    }

    .scrollup {
        right: 3rem;
    }
}
